$color_20: #214521;
$color_30: #326732;
$color_50: #53ac53;
$color_80: #badeba;
$color_90: #ddeedd;

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
}

html {
  height: 100%;
  background: linear-gradient($color_50, #003300);
}

.navbar {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: $color_20;
  font-size: 2.4rem;
  line-height: 5rem;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 7rem auto;
  max-width: 600px;
  font-size: 2rem;

  * {
    margin: 1rem 0;
  }
}

.input {
  font-size: 1.6rem;
  height: 2rem;
  padding: .5rem;
  border: 2px solid white;
}

[class^="btn"] {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  opacity: .8;
}

.btn {
  &__create {
    margin: 1rem auto;
    width: 20rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background-color: $color_30;
    transition: .2s;
    &:hover {
      transform: scale(1.05);
      box-shadow: .2rem .2rem $color_20;
      opacity: 1;
    }
  }
  &__copy {
    display: inline-block;
    width: 5rem;
    height: 3rem;
    line-height: 3rem;
    margin-left: 1rem;
    background-color: $color_50;
    font-size: 1.5rem;
    font-weight: normal;
    &:hover {
      opacity: 1;
    }
  }
}

.output {
  background-color: $color_80;
  padding: 1rem;
  margin-top: 3rem;
}

[class^="url"]{
  word-break: break-all;
  background-color: $color_90;
  padding: 2rem;
  margin: 2rem;
}

.url {
  &__long {
    font-size: 1.6rem;
    color: rgba($color: #000000, $alpha: 0.5)
  }

  &__short {
    font-weight: 900;
    color: $color_50;
  }
}

@media only screen and (max-width: 660px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}