<!DOCTYPE html>
<html>
<head>
	<%- include('head', {title: "Wenwen's Forum | Register", jsFile: 'register'}) %>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
      <a class="navbar-brand" href="/">Wenwen's Forum</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container my-4 p-5 col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 bg-light-grey rounded">
    <div class="pb-5 display-4 text-center">Register</div>
    <form class="login">
      <div class="warning"></div>
      <input type="text" name="username" class="input rounded" placeholder="Username" required />
      <input type="password" name="password" class="input mt-2 rounded" placeholder="Password" required />
      <input type="text" name="nickname" class="input mt-2 rounded" placeholder="Nickname" required />
      <input type="submit" class="mt-4 rounded" />
    </form>
  </div>
  <div class="footer text-muted text-center m-4">This page is created by <a class="font-weight-bold" href="https://github.com/cwenwen">me</a> - <a class="font-weight-bold" href="#">View on Github</a></div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>